<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970335815788-h4ptmvs4ntj37dc4rj5ccgroro1q4394.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970335815788-h4ptmvs4ntj37dc4rj5ccgroro1q4394</string>
	<key>API_KEY</key>
	<string>AIzaSyDmPF9UT4YMLe_GtI25mjJXG0j2z412MQg</string>
	<key>GCM_SENDER_ID</key>
	<string>970335815788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tk.thecouncil</string>
	<key>PROJECT_ID</key>
	<string>the-council-1e032</string>
	<key>STORAGE_BUCKET</key>
	<string>the-council-1e032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970335815788:ios:51ebb637afee00aa073049</string>
	<key>DATABASE_URL</key>
	<string>https://the-council-1e032.firebaseio.com</string>
</dict>
</plist>